<!-- partials/login.ejs -->

<div class="container">
    <h1 class="user">Login de usuario</h1>
        <form action="/login" method="post">
        <label for="name">Ingrese su nombre</label>
        <input type="text" name="name" id="name" placeholder="nombre">
   
        <button class="botonUser" type="submit"><a class="link" href="http://localhost:8080">Enviar</a></button>
        </form>
</div>


