<!-- partials/user.ejs -->

<div class="containerUser">
    <h1 class="user"> <%= name %> te damos la bienvenida</h1>
    <button class="botonUser"><a class="link" href="http://localhost:8080/logout">Desloguear</a></button>
</div>