<h2 class="chatTitulo"> Centro de mensajes (compresión: <span id="compresion"></span>%) </h2>
<form class="formulario" action="/">
    <div class="mb-3">
        
        <input type="email" class="form-control" id="inputEmail" placeholder="Ingrese su email" required>
        <input type="text" class="form-control" id="inputNombre" placeholder="Ingrese su nombre" required>
        <input type="text" class="form-control" id="inputApellido" placeholder="Ingrese su apellido" required>
        <input type="number" class="form-control" id="inputEdad" placeholder="Ingrese edad" required>
        <input type="text" class="form-control" id="inputAlias" placeholder="Ingrese su alias" required>
        <input type="text" class="form-control" id="inputAvatar" placeholder="Ingrese su email" required>

    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="inputMensaje" placeholder="Ingrese su mensaje" required>
    </div>

    <button type="button" id="sendMensaje" class="btn btn-primary">Enviar</button>

</form>