<!-- partials/tableProducts.ejs -->
<h1 class="titulo">Vista de productos</h1>

    <div class="tablaProductos">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
        </thead>

        <tbody id="tbodyProductos">
            
        </tbody>
    </table>
    </div>

