<h2 class="chatTitulo"> Centro de mensajes</h2>
<form class="formulario" action="/">
    <div class="mb-3">
        <label  class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Ingrese su email" required>
    </div>
    <div class="mb-3">
        <label  class="form-label">Mensaje</label>
        <input type="text" class="form-control" id="inputMensaje" placeholder="Ingrese su mensaje" required>
    </div>

    <button type="button" id="sendMensaje" class="btn btn-primary">Enviar</button>

</form>
