<div class="error">
    <h1> USER ERROR LOGIN</h1>
    <button class="botonUser"><a class="link" href="http://localhost:8080/login">VOLVER</a></button>
    
</div>

<span class="messageFlash"><%=message.join(',') %></span>