<div class="error">
    <h1> USER ERROR SIGN UP</h1>
    
    <button class="botonUser"><a class="link" href="http://localhost:8080/signup">VOLVER</a></button>
</div>

<span class="messageFlash"><%=message.join(',') %></span>